<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Listing</h1>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PATCH">
        <input value="<%=listing.title%>" name="listing[title]"><br><br>
        <textarea name="listing[description]" rows="5" cols="30"><%=listing.description%></textarea><br><br>
        <input value="<%=listing.price%>" name="listing[price]"><br><br>
        <input value="<%=listing.location%>" name="listing[location]"><br><br>
        <button>Add</button>
    </form>
</body>
</html>