<% layout("/layouts/boilerplate") %>
<body>
    <h2>Edit Listing</h2>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PATCH">
        <input value="<%=listing.title%>" name="listing[title]"><br><br>
        <textarea name="listing[description]" rows="5" cols="30"><%=listing.description%></textarea><br><br>
        <input value="<%=listing.price%>" name="listing[price]"><br><br>
        <input value="<%=listing.location%>" name="listing[location]"><br><br>
        <button>Add</button>
    </form>
</body>

