<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Listings</h1>
    <% for(let listing of allListing){ %>
        <div>
            <h2><%=listing.title%></h2>
            <p><%=listing.description%></p>
            <img src=<%=listing.image%>>
            <p><%=listing.price%></p>
            <p><%=listing.location%></p>
        </div>
    <% } %>
</body>
</html>